<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav mat-padding-12" opened mode="side">
    <mat-nav-list [disableRipple]="true">
      <ng-container *ngFor="let link of navigationLinks">
        <a mat-list-item class="sidenav__link" [routerLink]="link.link"  routerLinkActive="sidenav__link--active">
          <div class="sidenav__link-container">
            <mat-icon class="sidenav__link-icon" [svgIcon]="link.icon"></mat-icon>
            <span>{{link.name}}</span>
          </div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
