@use '@angular/material' as mat;

@include mat.core();

$app-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$grey-palette),
  ),
  typography: mat.define-typography-config(
    $headline-1: mat.define-typography-level(32px, 34px, 600, Roboto),
    $headline-2: mat.define-typography-level(24px, 28px, 500, Roboto),
    $headline-3: mat.define-typography-level(20px, 23px, 500, Roboto),
    $body-1: mat.define-typography-level(16px, 24px, 400, Roboto),
    $body-2: mat.define-typography-level(14px, 20px, 400, Roboto),
  ),
));

@include mat.all-component-themes($app-theme);

mat-sidenav.mat-drawer-side {
  border-right-width: 0;
}

.mat-headline-2, .mat-typography .mat-headline-2 {
  margin: 0;
}

html, body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.popup-side-page {
  &--right {
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100%;
  }
}
